body {
    color: #306ed5 !important;
    /*font-family: Helvetica !important;*/
    font-family: "sharp-sans-medium", "fallback-font", Arial, sans-serif;
    font-style: normal !important;
    background: white !important;
    background: white !important;

}

.nav-tabs .nav-item .nav-link.active {
    background-color: rgb(3 56 139 / 20%);
    transition: 0.3s background-color 0.2s;
    font-weight: 700;
}
.font-weight-bolder{
    font-weight: 700 !important;
}

.text-black {
    color: #000000 !important;
}

.header_link {
    font-weight: bold !important;
    font-size: 1.1vw !important;
}

.header_btn {
    width: 9vw;
    text-align: center;
    border-radius: 1vw !important;
    font-weight: bold !important;
    font-size: 1vw !important;
}

.header_btn_active {
    background: #306ed5 !important;
    color: white !important;
}

.shadow_bottom {
    /*-moz-box-shadow: inset 0 -175px 230px -232px #000000;*/
    /*-webkit-box-shadow: inset 0 -175px 230px -232px #000000;*/
    /*box-shadow: inset 0 -175px 230px -232px #000000;*/
    background-image: linear-gradient(#ffffff, #ffffff, #cbcbc9);
}

.ct {
    font-size: 18px;
}

.cd {
    font-weight: bold;
    font-size: 15px;
}

.cb {
    width: 80%;
    color: white;
    background: #306ed5;
    border: #306ed5;
    border-radius: 6px;
    padding: 8px 0;
}


.footer {
    background: #306ed5;
    color: #ffffff;
}

.f_href:hover {
    color: #ffffff;
}

.f_href:focus {
    color: #ffffff;
}

.fw-700 {
    font-weight: 700 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.filter_card {
    background: #f6f6f6;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    /*box-shadow: 0px 0px 7px -3px black;*/
}

.filter_card2 {
    /*background: #e4e4e4;*/
    /*border-radius: 20px;*/
    /*padding: 20px;*/
    /*margin-bottom: 40px;*/
    /*box-shadow: 0px 0px 4px -2px black;*/
    background: #e4e4e4;
    border-radius: 1vw;
    padding: 1%;
    margin-bottom: 2vw;
    box-shadow: 0px 0px 4px -2px black;
}

.filter_card_h {
    font-weight: bold;
    font-size: 26px;
}

.filter_card_i {
    font-size: 18px;
}

.login_header {
    text-align: center;
    background: #306ed5;
    color: white;
    border-radius: 10px;
    width: 80%;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
}

.logout_dropdown a:hover {
    background: #ffffff !important;
    color: #306ed5 !important;
}

.filter_form_input button {
    font-size: 11px !important;
}

.dog-img {
    width: 25%;
}

.cat-img {
    width: 25%;
}

.snake-img {
    width: 35%;
}

.bird-img {
    width: 35%;
}

.custom-search-form .filter-option-inner-inner {
    text-transform: capitalize;
    max-width: 100%;
    display: inline-block !important;
}

/* remove bs select all btn */
.custom-search-form select[data-max-options="1"] ~ .dropdown-menu .bs-actionsbox .bs-select-all {
    display: none;
}

.custom-search-form select[data-max-options="1"] ~ .dropdown-menu .bs-actionsbox .bs-deselect-all {
    width: 100%;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
    .boy{
        font-weight: 700; font-size: 3.5vw;
    }
    .desk-sm-hide {
        display: none !important;
    }
    .img-div {
        min-height: 62px;
    }

    .search-form button {
        font-size: 11px;
    }

    .search-form .datepicker {
        font-size: 12px;
    }

    .search-form .filter-option-inner {
        padding-right: 13px !important;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        max-width: 100% !important;
    }

    .logo {
        width: 25vw;
    }

    .vfp {
        line-height: 1vw;
        font-size: 6vw;
        padding-top: 10vw;
    }

    .vfp_img {
        max-width: 100%;
        width: 61vw;
    }

    .vfp_img2 {
        max-width: 100%;
        width: 60vw;
    }

    .as {
        font-weight: bold;
        font-size: 8vw;
    }

    .asd {
        padding-top: 1vw !important;
        line-height: 5vw;
        font-size: 4vw;
        text-align: justify;
    }

    .rvb {
        line-height: 5vw;
        font-size: 4vw;
        padding-bottom: 5vw;
    }

    .ap {
        font-weight: bold;
        font-size: 7vw;
    }

    .aps {
        padding-top: 1vw !important;
        line-height: 3.5vw;
        font-weight: bold;
        font-size: 3.5vw;
    }

    .mps {
        text-align: center;
        line-height: 6vw;
        font-weight: bold;
        font-size: 6vw;
        margin-bottom: 0 !important;
    }

    .mps_img {
        width: 25vw;
        height: 25vw;
        margin-top: 3vw;
    }

    .mps_t {
        font-size: 4vw;
        font-weight: bold;
        padding-top: 4.5vw;
        padding-bottom: 1vw;
        margin-bottom: 0 !important;
    }

    .fc {
        font-weight: bold;
        font-size: 12px !important;
        text-align: center;
        margin-top: 2vw;
    }

    .ap_img {
        width: 100%;
        padding-top: 40px;
    }

    .fh {
        line-height: 1vw;
        font-weight: bold;
        font-size: 5vw;
    }

    .fd {
        padding-top: 1vw;
        line-height: 5vw;
        font-weight: bold;
        font-size: 2.5vw;
        margin-bottom: 1.5vw;
    }

    .f_href {
        font-weight: bold;
        font-size: 2.5vw;
        font-family: Helvetica !important;
        color: #ffffff;
        display: inherit;
    }

    .fso {
        margin-top: 4vw;
        line-height: 1vw;
        font-weight: bold;
        font-size: 5vw;
    }

    .fi {
        /* background: #ffffff;
        padding: 2.8vw;
        margin: 1vw;
        width: 10vw;
        border-radius: 50%;
        text-align: center; */
        background: #ffffff;
    padding: 1.2vw;
    margin: 1vw;
    width: 6vw;
    border-radius: 50%;
    text-align: center;
    }

    .ml-vw {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .ml-vw2 {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .step {
        font-size: 5vw;
        padding: 2vw 3.5vw;
        border-radius: 50%;
        border: 1px solid #306ed5;
    }

    .arrow {
        font-size: 7vw;
    }

    .span_text {
        font-size: 3vw;
        padding-left: 3vw;
        padding-right: 0VW;
    }

    /* .filter_form_input {
        /*width: 45% !important;
    } */

    .filter_form_btn {
        width: 62%;
    }

    /* .suggestion_form_input {
        width: 50% !important;
    } */

    .input_margin {
        margin-top: -0.5vw;
    }

    .suggestion_form_btn {
        width: 50%;
    }

    .time_span {
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 3px;
        font-size: 12px;
        padding-bottom: 2px;
    }

    .vet_name {
        font-size: 4vw;
        font-weight: 700;
    }

    .filter_card2 {
        background: #e4e4e4;
        border-radius: 1vw;
        padding: 1%;
        margin-bottom: 10vw;
        box-shadow: 0px 0px 4px -2px black;
    }

    .dp_img {
        width: 23vw;
        height: 23vw;
        border-radius: 50%;
    }

    .dp_name {
        margin-top: 3vw;
        font-weight: 800;
        font-size: 4.5vw;
    }

    .dp_speciality {
        font-size: 3.5vw;
    }

    .dp_rating {
        font-size: 3vw;
    }

    .dp_r_img {
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
    }

    .dp_r_name {
        font-size: 3.5vw;
        font-weight: 900;
    }

    .ual {
        font-size: 3vw;
    }

    .mp {
        padding: 0.8vw 2vw;
        font-size: 3.5vw;
        border-radius: 7px;
    }

    .appointments_table {
        font-size: 3vw !important;
    }

    .appointments_table th {
        font-size: 3vw !important;
        width: fit-content !important;
        font-weight: bold !important;
        border-bottom: 1px solid !important;
    }

    .appointments_table td {
        font-size: 3vw !important;
        border-bottom: 1px solid !important;
    }

    .my_pets {
        font-size: 4vw;
        font-weight: 700;
    }

    .mp_img {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
    }

    .mp_name {
        font-size: 3vw;
        font-weight: 700;
    }

    .mp_type {
        font-size: 2.5vw;
        margin-bottom: -9px;
    }

    .mp_link {
        font-size: 2.2vw;
        border-radius: 3px;
        padding: 0.5vw 1.4vw;
    }

    .anp {
        font-size: 5vw;
    }

    .anp_img {
        width: 27vw;
        height: 27vw;
        border-radius: 50%;
    }

    .anp_label {
        font-size: 3.5vw;
        font-weight: 900;
        width: 100%;
        text-align: left;
        opacity: 0.5;
        margin: 0;
    }

    .bar {
        font-size: 5vw;
    }

    .bar {
        margin-left: 0.1vw;
        font-size: 2vw;
        margin-right: 0.1vw;
    }

    .wg_cl {
        font-weight: 700;
        font-size: 3vw;
    }

    .cl_status {
        font-size: 3vw;
    }

    .cl_title {
        font-weight: 900;
        font-size: 3vw;
    }

    .cl_a {
        font-size: 2vw;
    }

    .cl_detail {
        font-size: 2.5vw;
    }

    .profile_img {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
    }

    .ap_dr_sec {
        max-height: 120vw;
        overflow-y: scroll;
    }

    .ap_dr_row {
        width: 84vw;
        margin-left: auto;
        margin-right: auto;
    }

    .vt_re_sc {
        max-height: 100vw;
        overflow-y: scroll;
    }

    .cat-dog {
        font-weight: 500;
        font-size: 3vw;
        cursor: pointer;
    }

    .dog {
        padding: 1vw 2vw 1vw 3vw;
        border-top-left-radius: 3vw;
        border-bottom-left-radius: 3vw;
        background: #ccccca;
    }

    .cat {
        padding: 1vw 3vw 1vw 2vw;
        border-top-right-radius: 3vw;
        border-bottom-right-radius: 3vw;
        background: #ccccca;
    }

    .form-border {
        border: 1px solid #306ed5;
        /*border-radius: 1vw;*/
    }

    .mob-hide {
        display: none !important;
    }

    .mob-left {
        text-align: left !important;
    }

    .asc {
        width: 18vw;
        height: 14vw;

    }

    .cba {
        width: 80%;
        color: white;
        background: #306ed5;
        border: #306ed5;
        border-radius: 6px;
        padding: 8px 0;
        font-size: 3vw;
    }

    .cda {
        font-weight: bold;
        font-size: 3.2vw;
        line-height: 4vw;
    }

    .filter_sec {
        max-height: 110vw;
        padding: 0 6vw;
        overflow-y: auto;
        margin-bottom: 5vw;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .boy{
        font-weight: 700; font-size: 1.5vw;
    }
    .desk-md-hide {
        display: none !important;
    }
    .navbar .navbar-collapse.collapse, .navbar .navbar-collapse.collapse.in, .navbar .navbar-collapse.collapsing{

        display: flex !important;
    }
    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        flex-grow: 1;
        align-items: center;
    } .navbar-nav {
          align-items: center;    flex-direction: row;
              display: flex;
              padding-left: 0;
              margin-bottom: 0;
              list-style: none;
      }

    .img-div {
        min-height: 72px;
    }

    .search-form button {
        font-size: 11px;
    }

    .search-form .datepicker {
        font-size: 12px;
    }

    .search-form .filter-option-inner {
        padding-right: 11px !important;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        max-width: 100% !important;
    }

    .vh-92 {
        min-height: 92vh !important;
    }

    .vh-100 {
        min-height: 92vh !important;
    }

    .filter_sec {
        max-height: 26vw;
        padding: 2vw;
        overflow-y: auto;
        margin-bottom: 2vw;
    }

    .cda {
        font-weight: bold;
        font-size: 1vw;
    }

    .cba {
        width: 80%;
        color: white;
        background: #306ed5;
        border: #306ed5;
        border-radius: 6px;
        padding: 8px 0;
        font-size: 1vw;
    }

    .asc {
        width: 7vw;
        height: 5vw;
    }

    .input_margin {
        margin-top: -0.15vw;
    }

    .wid-50 {
        width: 50% !important;
    }

    .desk-hide {
        display: none !important;
    }

    .form-border {
        border: 1px solid #306ed5;
        /*border-radius: 1vw;*/
        padding: 0px 0.4vw !important;
    }

    .cat-dog {
        font-weight: 700;
        font-size: 0.9vw;
        cursor: pointer;
    }

    .dog {
        padding: 0.5vw 0.6vw 0.5vw 1vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        background: #ccccca;
    }

    .cat {
        padding: 0.5vw 1vw 0.5vw 0.6vw;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        background: #ccccca;
    }

    .mps-card {
        transition: transform .2s;
    }

    .mps-card:hover {
        transform: scale(1.05);
        border: 1px solid #306ed5;
        box-shadow: 0px 0px 9px -1px #306ed5;
    }

    .mps-sub-card {
        transition: transform .2s;
    }

    .mps-card:hover .mps-sub-card {
        transform: scale(1.05);
        border: 1px solid #5d7cab;
        box-shadow: 0px -3px 7px -3px #306ed5 !important;
    }

    .vt_re_sc {
        max-height: 25vw;
        overflow-y: scroll;
        padding: 1vw;
    }

    .ap_dr_row {
        margin-left: auto;
        margin-right: auto;
        width: 58.3vw;
    }

    .ap_dr_sec {
        width: 62vw;
        max-height: 52vw;
        overflow-y: scroll;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .profile_border {
        border-right: 1px solid #000000 !important;
    }

    .profile_img {
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
    }

    .cl_a {
        font-size: 0.6vw;
    }

    .cl_detail {
        font-size: 0.8vw;
    }

    .cl_title {
        font-weight: 900;
        font-size: 1vw;
    }

    .cl_status {
        font-size: 1vw;
    }

    .wg_cl {
        font-weight: 800;
        font-size: 1.1vw;
    }

    .bar {
        margin-left: 0.2vw;
        font-size: 1.5vw;
        margin-right: 0.2vw;
    }

    .anp_label {
        font-size: 1.1vw;
        font-weight: 700;
        width: 50%;
        text-align: left;
        opacity: 0.5;
        margin: 0;
    }

    .anp_img {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
    }

    .anp {
        font-size: 2vw;
    }

    .mp_link {
        font-size: 0.6vw;
        border-radius: 3px;
        padding: 0.3vw 0.7vw;
    }

    .mp_type {
        margin-bottom: -6px;
        font-size: 0.8vw;
    }

    .mp_name {
        font-size: 1.1vw;
        font-weight: 700;
    }

    .mp_img {
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .logo {
        width: 6vw;
    }

    .vfp {
        line-height: 1vw;
        font-size: 2.7vw;
        padding-top: 8vw;
    }

    .vfpf {
        line-height: 1vw;
        font-size: 2.7vw;
        padding-top: 8vw;
    }

    .vfp_img {
        max-width: 100%;
        width: 30vw;
    }

    .vfp_img2 {
        max-width: 100%;
        width: 25.9vw;
    }

    .as {
        padding-top: 1vw;
        font-weight: bold;
        font-size: 3vw;
    }

    .asd {
        line-height: 1.5vw;
        font-size: 1.1vw;
        text-align: justify;
    }

    .rvb {
        line-height: 2vw;
        font-size: 1.4vw;
    }

    .ap {
        font-weight: bold;
        font-size: 2.5vw;
    }

    .aps {
        line-height: 1.5vw;
        font-weight: bold;
        font-size: 1.5vw;
    }

    .mps {
        text-align: left;
        line-height: 1vw;
        font-weight: bold;
        font-size: 2.5vw;
    }

    .mps_img {
        width: 4vw;
        height: 4vw;
        margin-top: 1vw;
    }

    .mps_t {
        font-size: 1.1vw;
        padding-top: 1.5vw;
        padding-bottom: 0.5vw;
    }

    .fc {
        line-height: 20px;
        font-weight: bold;
        font-size: 0.9vw !important;
        text-align: right;
        padding-right: 20px;
    }

    .ap_img {
        width: 20vw;
    }

    .fh {
        line-height: 2.1vw;
        font-weight: bold;
        font-size: 1.5vw;
    }

    .fd {
        line-height: 1.5vw;
        /*font-weight: bold;*/
        font-size: 1vw;
        padding-top: 1vw;
    }

    .f_href {
        line-height: 1vw;
        /*font-weight: bold;*/
        font-size: 1vw;;
        font-family: Helvetica !important;
        color: #ffffff;
        display: inherit;
    }

    .fso {
        line-height: 2vw;
        font-size: 1.5vw;
    }

    .fi {
        background: #ffffff;
        padding: 0.7vw;
        margin: 0.2vw;
        width: 2.5vw;
        border-radius: 50%;
    }

    .fia .fi:hover {
        background: #306ed5;
        box-shadow: 0px 0px 7px 2px white;
        color: #ffffff !important;
    }

    .fiar .fi:hover {
        background: #ffffff !important;
        box-shadow: 0px 0px 7px 2px #306ed5;
        color: #306ed5 !important;
    }

    .fir {
        width: 2.4vw;
        padding: 0.7vw;
    }

    .ml-vw {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .ml-vw2 {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .step {
        font-size: 1.6vw;
        padding: 0.25vw 0.8vw;
        border-radius: 50%;
        border: 1px solid #306ed5;
    }

    .arrow {
        font-size: 3vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .span_text {
        font-size: 1vw;
        padding-left: 3vw;
        padding-right: 2VW;
    }

    .filter_form_input {
        width: 23% !important;
    }

    .filter_form_btn {
        width: 5%;
    }

    .suggestion_form_input {
        width: 18.5% !important;
    }

    .suggestion_form_btn {
        width: 4% !important;
        margin-left: 0.5vw !important;
    }

    .time_span {
        padding: 2px 3px 3px;
        border-radius: 3px;
        font-size: 11px;
    }

    .vet_name {
        font-size: 11px;
        font-weight: 700;
    }

    .dp_img {
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .dp_name {
        margin-top: 1.5vw;
        font-weight: 800;
        font-size: 1.5vw;
    }

    .dp_speciality {
        font-size: 0.9vw;
    }

    .dp_rating {
        font-size: 0.8vw;
    }

    .dp_r_img {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
    }

    .dp_r_name {
        font-size: 1.2vw;
        font-weight: 900;
    }

    .ual {
        font-size: 1.5vw;
    }

    .mp {
        padding: 0.2vw 1.5vw;
        font-size: 1.1vw;
        border-radius: 7px;
    }

    .appointments_table {
        font-size: 1vw !important;
    }

    .appointments_table th {
        font-size: 1vw !important;
        font-weight: bold !important;
        border-bottom: 1px solid !important;
    }

    .appointments_table td {
        font-size: 1vw !important;
        border-bottom: 1px solid !important;
    }

    .my_pets {
        font-size: 1.7vw;
        font-weight: 700;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*.desk-md-hide {*/
    /*    display: none;*/
    /*}*/

    .img-div {
        min-height: 91px;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        max-width: 100% !important;
    }

    .vh-92 {
        min-height: 92vh !important;
    }

    .vh-100 {
        min-height: 92vh !important;
    }

    .filter_sec {
        max-height: 26vw;
        padding: 2vw;
        overflow-y: auto;
        margin-bottom: 2vw;
    }

    .cda {
        font-weight: bold;
        font-size: 1vw;
    }

    .cba {
        width: 80%;
        color: white;
        background: #306ed5;
        border: #306ed5;
        border-radius: 6px;
        padding: 8px 0;
        font-size: 1vw;
    }

    .asc {
        width: 7vw;
        height: 5vw;
    }

    .input_margin {
        margin-top: -0.15vw;
    }

    .wid-50 {
        width: 50% !important;
    }

    .desk-hide {
        display: none !important;
    }

    .form-border {
        border: 1px solid #306ed5;
        /*border-radius: 1vw;*/
        padding: 0px 0.0vw !important;
    }

    .cat-dog {
        font-weight: 700;
        font-size: 0.9vw;
        cursor: pointer;
    }

    .dog {
        padding: 0.5vw 0.6vw 0.5vw 1vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        background: #ccccca;
    }

    .cat {
        padding: 0.5vw 1vw 0.5vw 0.6vw;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        background: #ccccca;
    }

    .mps-card {
        transition: transform .2s;
    }

    .mps-card:hover {
        transform: scale(1.05);
        border: 1px solid #306ed5;
        box-shadow: 0px 0px 9px -1px #306ed5;
    }

    .mps-sub-card {
        transition: transform .2s;
    }

    .mps-card:hover .mps-sub-card {
        transform: scale(1.05);
        border: 1px solid #5d7cab;
        box-shadow: 0px -3px 7px -3px #306ed5 !important;
    }

    .vt_re_sc {
        max-height: 25vw;
        overflow-y: scroll;
        padding: 1vw;
    }

    .ap_dr_row {
        margin-left: auto;
        margin-right: auto;
        width: 57vw;
    }

    .ap_dr_sec {
        width: 62vw;
        max-height: 50vw;
        overflow-y: scroll;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .profile_border {
        border-right: 1px solid #000000 !important;
    }

    .profile_img {
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
    }

    .cl_a {
        font-size: 0.6vw;
    }

    .cl_detail {
        font-size: 0.8vw;
    }

    .cl_title {
        font-weight: 900;
        font-size: 1vw;
    }

    .cl_status {
        font-size: 1vw;
    }

    .wg_cl {
        font-weight: 800;
        font-size: 1.1vw;
    }

    .bar {
        margin-left: 0.2vw;
        font-size: 1.5vw;
        margin-right: 0.2vw;
    }

    .anp_label {
        font-size: 1.1vw;
        font-weight: 700;
        width: 50%;
        text-align: left;
        opacity: 0.5;
        margin: 0;
    }

    .anp_img {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
    }

    .anp {
        font-size: 2vw;
    }

    .mp_link {
        font-size: 0.6vw;
        border-radius: 3px;
        padding: 0.3vw 0.7vw;
    }

    .mp_type {
        margin-bottom: -6px;
        font-size: 0.8vw;
    }

    .mp_name {
        font-size: 1.1vw;
        font-weight: 700;
    }

    .mp_img {
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .logo {
        width: 6vw;
    }

    .vfp {
        line-height: 1vw;
        font-size: 2.7vw;
        padding-top: 8vw;
    }

    .vfpf {
        line-height: 1vw;
        font-size: 2.7vw;
        padding-top: 8vw;
    }

    .vfp_img {
        max-width: 100%;
        width: 30vw;
    }

    .vfp_img2 {
        max-width: 100%;
        width: 25.9vw;
    }

    .as {
        padding-top: 1vw;
        font-weight: bold;
        font-size: 3vw;
    }

    .asd {
        line-height: 1.5vw;
        font-size: 1.1vw;
        text-align: justify;
    }

    .rvb {
        line-height: 2vw;
        font-size: 1.4vw;
    }

    .ap {
        font-weight: bold;
        font-size: 2.5vw;
    }

    .aps {
        line-height: 1.5vw;
        font-weight: bold;
        font-size: 1.5vw;
    }

    .mps {
        text-align: left;
        line-height: 1vw;
        font-weight: bold;
        font-size: 2.5vw;
    }

    .mps_img {
        width: 4vw;
        height: 4vw;
        margin-top: 1.5vw;
    }

    .mps_t {
        font-size: 1.1vw;
        padding-top: 1.5vw;
        padding-bottom: 0.5vw;
    }

    .fc {
        line-height: 20px;
        font-weight: bold;
        font-size: 0.9vw !important;
        text-align: right;
        padding-right: 20px;
    }

    .ap_img {
        width: 20vw;
    }

    .fd {
        line-height: 1.5vw;
        /*font-weight: bold;*/
        font-size: 1vw;
        padding-top: 1vw;
    }

    .f_href {
        line-height: 1vw;
        /*font-weight: bold;*/
        font-size: 1vw;;
        font-family: Helvetica !important;
        color: #ffffff;
        display: inherit;
    }

    .fi {
        background: #ffffff;
        padding: 0.7vw;
        margin: 0.2vw;
        width: 2.5vw;
        border-radius: 50%;
    }

    .fia .fi:hover {
        background: #306ed5;
        box-shadow: 0px 0px 7px 2px white;
        color: #ffffff !important;
    }

    .fiar .fi:hover {
        background: #ffffff !important;
        box-shadow: 0px 0px 7px 2px #306ed5;
        color: #306ed5 !important;
    }

    .fir {
        width: 2.4vw;
        padding: 0.7vw;
    }

    .ml-vw {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .ml-vw2 {
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .step {
        font-size: 1.6vw;
        padding: 0.25vw 0.8vw;
        border-radius: 50%;
        border: 1px solid #306ed5;
    }

    .arrow {
        font-size: 3vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .span_text {
        font-size: 1vw;
        padding-left: 3vw;
        padding-right: 2VW;
    }

    .filter_form_input {
        width: 23% !important;
    }

    .filter_form_btn {
        width: 7%;
    }

    .suggestion_form_input {
        width: 18.5% !important;
    }

    .suggestion_form_btn {
        width: 4% !important;
        margin-left: 0.5vw !important;
    }

    .time_span {
        padding: 2px 6px 3px;
        border-radius: 4px;
        font-size: 14px;
    }

    .vet_name {
        font-size: 1.1vw;
        font-weight: 700;
    }

    .dp_img {
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .dp_name {
        margin-top: 1.5vw;
        font-weight: 800;
        font-size: 1.5vw;
    }

    .dp_speciality {
        font-size: 0.9vw;
    }

    .dp_rating {
        font-size: 0.8vw;
    }

    .dp_r_img {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
    }

    .dp_r_name {
        font-size: 1.2vw;
        font-weight: 900;
    }

    .ual {
        font-size: 1.5vw;
    }

    .mp {
        padding: 0.2vw 1.5vw;
        font-size: 1.1vw;
        border-radius: 7px;
    }

    .appointments_table {
        font-size: 1vw !important;
    }

    .appointments_table th {
        font-size: 1vw !important;
        font-weight: bold !important;
        border-bottom: 1px solid !important;
    }

    .appointments_table td {
        font-size: 1vw !important;
        border-bottom: 1px solid !important;
    }

    .my_pets {
        font-size: 1.7vw;
        font-weight: 700;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .img-div {
        min-height: 119px;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        max-width: 100% !important;
    }

    .vh-92 {
        min-height: 92vh !important;
    }

    .vh-100 {
        min-height: 92vh !important;
    }

    .filter_sec {
        max-height: 26vw;
        padding: 2vw;
        overflow-y: auto;
        margin-bottom: 2vw;
    }

    .cda {
        font-weight: bold;
        font-size: 1vw;
    }

    .cba {
        width: 80%;
        color: white;
        background: #306ed5;
        border: #306ed5;
        border-radius: 6px;
        padding: 8px 0;
        font-size: 1vw;
    }

    .asc {
        width: 6vw;
        height: 5vw;
    }

    .input_margin {
        margin-top: -0.15vw;
    }

    .wid-50 {
        width: 50% !important;
    }

    .desk-hide {
        display: none !important;
    }

    .form-border {
        border: 1px solid #306ed5;
        /*border-radius: 1vw;*/
        padding: 0px 0.0vw !important;
    }

    .cat-dog {
        font-weight: 700;
        font-size: 0.9vw;
        cursor: pointer;
    }

    .dog {
        padding: 0.5vw 0.6vw 0.5vw 1vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        background: #ccccca;
    }

    .cat {
        padding: 0.5vw 1vw 0.5vw 0.6vw;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        background: #ccccca;
    }

    .mps-card {
        transition: transform .2s;
    }

    .mps-card:hover {
        transform: scale(1.05);
        border: 1px solid #306ed5;
        box-shadow: 0px 0px 9px -1px #306ed5;
    }

    .mps-sub-card {
        transition: transform .2s;
    }

    .mps-card:hover .mps-sub-card {
        transform: scale(1.05);
        border: 1px solid #5d7cab;
        box-shadow: 0px -3px 7px -3px #306ed5 !important;
    }

    .vt_re_sc {
        max-height: 25vw;
        overflow-y: scroll;
        padding: 1vw;
    }

    .ap_dr_row {
        margin-left: auto;
        margin-right: auto;
        width: 55vw;
    }

    .ap_dr_sec {
        width: 58vw;
        max-height: 38vw;
        overflow-y: scroll;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .profile_border {
        border-right: 1px solid #000000 !important;
    }

    .profile_img {
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
    }

    .cl_a {
        font-size: 10px;
    }

    .cl_detail {
        font-size: 0.8vw;
    }

    .cl_title {
        font-weight: 900;
        font-size: 1vw;
    }

    .cl_status {
        font-size: 1vw;
    }

    .wg_cl {
        font-weight: 800;
        font-size: 1.1vw;
    }

    .bar {
        margin-left: 0.2vw;
        font-size: 1.5vw;
        margin-right: 0.2vw;
    }

    .anp_label {
        font-size: 1.1vw;
        font-weight: 700;
        width: 50%;
        text-align: left;
        opacity: 0.5;
        margin: 0;
    }

    .anp_img {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
    }

    .anp {
        font-size: 2vw;
    }

    .mp_link {
        font-size: 0.6vw;
        border-radius: 3px;
        padding: 0.3vw 0.7vw;
    }

    .mp_type {
        margin-bottom: -6px;
        font-size: 0.8vw;
    }

    .mp_name {
        font-size: 1.1vw;
        font-weight: 700;
    }

    .mp_img {
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .logo {
        width: 6vw;
    }
    .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
        overflow: hidden;
        text-overflow: ellipsis !important;
    }
    .filter-option-inner-inner{
        overflow: hidden;
        text-overflow: ellipsis !important;

    }
    .vfp {
        line-height: 1vw;
        font-size: 2.7vw;
        padding-top: 8vw;
    }

    .vfpf {
        line-height: 1vw;
        font-size: 2.8vw;
        padding-top: 8vw;
    }

    .vfp_img {
        max-width: 100%;
        width: 30vw;
    }

    .vfp_img2 {
        max-width: 100%;
        width: 25.9vw;
    }

    .as {
        padding-top: 1vw;
        font-weight: bold;
        font-size: 3vw;
    }

    .asd {
        line-height: 1.5vw;
        font-size: 1.1vw;
        text-align: justify;
    }

    .rvb {
        line-height: 4vw;
        font-size: 1.4em;
    }

    .ap {
        font-weight: bold;
        font-size: 2.5vw;
    }

    .aps {
        line-height: 1.5vw;
        font-weight: bold;
        font-size: 1.5vw;
    }

    .mps {
        text-align: left;
        line-height: 1vw;
        font-weight: bold;
        font-size: 2.5vw;
    }

    .mps_img {
        width: 6vw;
        height: 6vw;
        margin-top: 2vw;
    }

    .mps_t {
        font-size: 1.1vw;
        padding-top: 1.5vw;
        padding-bottom: 0.5vw;
    }

    .fc {
        line-height: 20px;
        font-weight: bold;
        font-size: 0.9vw !important;
        text-align: right;
        padding-right: 20px;
    }

    .ap_img {
        width: 20vw;
    }

    .fd {
        line-height: 1.5vw;
        /*font-weight: bold;*/
        font-size: 1vw;
        padding-top: 1vw;
    }

    .f_href {
        line-height: 1vw;
        /*font-weight: bold;*/
        font-size: 1vw;;
        font-family: Helvetica !important;
        color: #ffffff;
        display: inherit;
    }

    .fi {
        background: #ffffff;
        padding: 0.7vw;
        margin: 0.2vw;
        width: 2.5vw;
        border-radius: 50%;
    }

    .fia .fi:hover {
        background: #306ed5;
        box-shadow: 0px 0px 7px 2px white;
        color: #ffffff !important;
    }

    .fiar .fi:hover {
        background: #ffffff !important;
        box-shadow: 0px 0px 7px 2px #306ed5;
        color: #306ed5 !important;
    }

    .fir {
        width: 2.4vw;
        padding: 0.7vw;
    }

    .ml-vw {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .ml-vw2 {
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .step {
        font-size: 1.6vw;
        padding: 0.25vw 0.8vw;
        border-radius: 50%;
        border: 1px solid #306ed5;
    }

    .arrow {
        font-size: 3vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .span_text {
        font-size: 1vw;
        padding-left: 3vw;
        padding-right: 2VW;
    }

    .filter_form_input {
        width: 23% !important;
    }

    .filter_form_btn {
        width: 5%;
    }

    .suggestion_form_input {
        width: 18.5% !important;
    }

    .suggestion_form_btn {
        width: 4% !important;
        margin-left: 0.5vw !important;
    }

    .time_span {
        padding: 4px 8px 5px;
        border-radius: 5px;
        font-size: 15px;
    }

    .vet_name {
        font-size: 1vw;
        font-weight: 700;
    }

    .dp_img {
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .dp_name {
        margin-top: 1.5vw;
        font-weight: 800;
        font-size: 1.5vw;
    }

    .dp_speciality {
        font-size: 0.9vw;
    }

    .dp_rating {
        font-size: 0.8vw;
    }

    .dp_r_img {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
    }

    .dp_r_name {
        font-size: 1.2vw;
        font-weight: 900;
    }

    .ual {
        font-size: 1.5vw;
    }

    .mp {
        padding: 0.2vw 1.5vw;
        font-size: 1.1vw;
        border-radius: 7px;
    }

    .appointments_table {
        font-size: 1vw !important;
    }

    .appointments_table th {
        font-size: 1vw !important;
        font-weight: bold !important;
        border-bottom: 1px solid !important;
    }

    .appointments_table td {
        font-size: 1vw !important;
        border-bottom: 1px solid !important;
    }

    .my_pets {
        font-size: 1.7vw;
        font-weight: 700;
    }
}

@media (min-width: 768px)and (max-width: 860px)
{
    .search-form .datepicker {
        font-size: 10px !important;
    }
    #pickerinput{
        font-size: 12px !important;
    }
}

.custom-search-formcss {
    background: white !important;
    border: none;
    border-radius: 0px !important;
}
.custom-search-formbackground {
    padding: 15px;
    background: #e8f3f5;
}

.custom-search-formbackground .bootstrap-select .btn.dropdown-toggle.select-with-transition {
    background-image:none !important;
}
 
.custom-search-formbackground #pickerinput
{
    background-image: none !important;
}

.custom-search-formbackground .dropdown-toggle::after {
    display: none !important;
}
.custom-search-formbackground .pickerinput .form-control
{
    background-image: none !important;
}